# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# NetBeans specific files
nbproject/private/
build/
dist/
nbbuild/
dist/
.nbm/

# Ignore NetBeans config files
nbactions.xml
nb-configuration.xml

# IDE directories
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
